<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>Knowex</title>
    <script src="static/js/base.js"></script>
    <script src="static/js/profile.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/images/knowex_icon.png">
</head>
<body>
    <div class="left_panel">
        <div class = "icon">
            <img src="static/images/knowex_icon.png" alt="" class="icon_photo">
            <h1 class="name">Knowex</h1>
        </div>
        <button id="theme_change" class="theme_change"></button>
        <div class="menu_item" id="main">
            <img src="static/new_icons/main.png" alt="Main" class="main_photo">
            <a href="/" class="main">Main</a>
        </div>
        <div class="menu_item" id="create">
            <img src="static/new_icons/report.png" alt="Report" class="report_photo">
            <a href="/create" class="create">Create</a>
        </div>
        <div class="menu_item" id="report">
            <img src="static/new_icons/create.png" alt="Create" class="create_photo">
            <a href="/report" class="report">Report</a>
        </div>
    </div>
    <div class="top_panel">
        {% if is_authenticated == True %}
            <img class="profile_icon" src="{{ url_for('static', filename= 'images/user_icons/' + profile_name) }}" alt="">
            <button class="nickname">{{ nickname }}</button>
            <div class = "profile_info">
                <img class="profile_ico" src="{{ url_for('static', filename= 'images/user_icons/' + profile_name) }} " alt="">
                <form action="/render_icon" method="POST" enctype="multipart/form-data">
                    <label for="upload" id="upload-label"></label>
                    <input type="file" id="upload" name="image" style="display: none;">  
                    <button type="submit" style="display:none;" id="upload-submit"></button>
                </form>
                <h1 class="nickname_profile">{{ nickname }}</h1>
                <h1 class="email_profile">email: {{ email }}</h1>
                <h1 class="password_profile">password: {{ password }}</h1>
                <a href="/logout" id="logout" class="logout">Logout</a>
            </div>
        {% endif %}
        {% if is_authenticated == False %}
            <a href="/user" class="login_page">login</a>
        {% endif %}

        <a class="profile"></a>
        <h1 class="name_page">{% block title %}  {% endblock %}</h1>
    </div>
    
    <div class="messages" id="messages">
        {% for message in session.get('messages', []) %}
            <div class="message" id = "message">
                {{ message }}
                {% do session.update({'messages': []}) %}
            </div>
        {% endfor %}
    </div>

    <div class="content" id="content">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>