<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>Knowex</title>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/knowex_icon.png') }}">
</head>
<body>
    <div class="left_panel">
        <div class = "icon">
            <img src="{{ url_for('static', filename='images/knowex_icon.png') }}" alt="" class="icon_photo">
            <h1 class="name">Knowex</h1>
        </div>
        <button id="theme_change" class="theme_change"></button>
        <!-- <div class="menu_item" id="main">
            <img src="{{ url_for('static', filename='new_icons/main.png') }}" alt="Main" class="main_photo">
            <a href="/" class="main">головна</a>
        </div> -->
        <div class="menu_item" id="main">
            <img src="{{ url_for('static', filename='new_icons/main.png') }}" alt="Main" class="main_photo">
            <a href="/profile" class="main">Кабінет</a>
        </div>
        <div class="menu_item" id="create">
            <img src="{{ url_for('static', filename='new_icons/report.png') }}" alt="Report" class="report_photo">
            <a href="/create" class="create">Створити</a>
        </div>
        <div class="menu_item" id="report">
            <img src="{{ url_for('static', filename='new_icons/create.png') }}" alt="Create" class="create_photo">
            <a href="/report" class="report">Тести</a>
        </div>
    </div>
    <div class="top_panel">
        <form class="to-test" onsubmit="return goToTest(event)">
            <input type="text" id="test_id_input" placeholder="ID тесту" min="1" required>
            <button type="submit">Перейти</button>
        </form>
        {% if is_authenticated == True %}
            <img class="profile_icon" src="{{ url_for('static', filename='images/user_icons/profile.png') }}" alt="">
            <button class="nickname">{{ nickname }}</button>
        {% endif %}
        {% if is_authenticated == False %}
            <a href="/user" class="login_page">Увійти</a>
        {% endif %}
        <a class="profile"></a>
        <h1 class="name_page">{% block title %}  {% endblock %}</h1>
    </div>
    
    <div class="messages" id="messages">
        {% for message in session.get('messages', []) %}
            <div class="message" id = "message">
                {{ message }}
                {% do session.update({'messages': []}) %}
            </div>
        {% endfor %}
    </div>

    <div class="content" id="content">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>