:root {
    --bg-main: #f5f7fa;
    --bg-panel: #E0F2FE;
    --bg-panel-hover: #E8F4FD;
    --bg-top: #F9FEFF;
    --bg-message: #ffffff;
    --bg-profile: #cff1ff;
    --bg-profile-info: #fff;
    --bg-menu-item: #E8F4FD;

    --color-main: #000000;
    --color-accent: #00BCD4;
    --color-link: #007BFF;
    --color-nickname: #00ccff;
    --color-profile: #333;

    --border-main: #ccc;
    --border-panel: #7c7c7c;
    --border-profile: #ccc;

    --btn-main: #2BA8FB;
    --btn-hover: #046ec49f;
}

body.dark {
    --bg-main: #181818;
    --bg-panel: #292828;
    --bg-panel-hover: #424242;
    --bg-top: #1C1C1C;
    --bg-message: #23243a;
    --bg-profile: #36393b;
    --bg-profile-info: #292828;
    --bg-menu-item: #424242;

    --color-main: #ecebeb;
    --color-accent: #00BCD4;
    --color-link: #80bcf8;
    --color-nickname: #00ccff;
    --color-profile: #dbeafe;

    --border-main: #7c7c7c;
    --border-panel: #7c7c7c;
    --border-profile: #ccc;

    --btn-main: #045f75;
    --btn-hover: #00c3ff9f;
}


body {
    background: var(--bg-main);
    color: var(--color-main);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}

.messages {
    position: fixed;
    top: 115px;
    right: 10px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    z-index: 1000;
}

.message {
    background-color: var(--bg-message);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s;
}

.message.show {
    opacity: 1;
    transform: translateY(0);
}

.message.hide {
    opacity: 0;
    transform: translateY(10px);
}

.content {
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    box-sizing: border-box;
    position: absolute;
    border: none;
    top: 110px;
    left: 25px;
    background-color: var(--bg-main);
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* CHANGE justify-content: center; CHANGE by Andrey 03.07.25 */ 
    overflow-y: hidden;
    user-select: none;
}

.menu_item img {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}

.icon {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
    padding: 5px 0 5px 20px;
    border-radius: 10px;
    gap: 0px;
}

.icon_photo {
    width: 50px;
    height: 50px;
    display: block;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 8px;
}

.name {
    font-size: 30px;
    color: #19d3f3;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu_item img {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}

.profile_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    right: 25px;
    top: 35px;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 10;
}

.profile_ico {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 10px;
    left: 100px;
}





.login_page {
    width: 120px;
    height: 40px;
    background: var(--btn-main);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    box-shadow: 0 2px 8px rgba(34, 211, 255, 0.08);
    margin: 0 25px;
}

.login_page:hover {
    background: var(--btn-hover);
}







.to-test {
    /* margin-right: 1px; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.to-test input[type="text"], .to-test input[type="number"] {
    width: 90px;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    gap: 8px;
}

.to-test button {
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    background: #4f8cff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
}

.to-test button:hover {
    background: #2563eb;
}

.theme_change {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s;
}

.theme_change:hover, body.dark .theme_change:hover {
    transform: scale(1.1);
}
.theme_change:active, body.dark .theme_change:active {
    transform: scale(0.9);
}

.icon, .menu_item {
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.icon {
    width: 30px;
    height: 45px;
    margin: 10px 0 30px 0;
    padding: 5px 75px 5px 20px;
}
.menu_item {
    width: 130px;
    height: 45px;
    margin: 10px 0 0 8px;
    padding: 5px 75px 5px 20px;
    background-color: var(--bg-menu-item);
}

.menu_item a {
    font-size: 16px;
    color: var(--color-main);
    text-decoration: none;
    font-weight: bold;
}
.menu_item a:hover {
    color: var(--color-link);
}

.left_panel {
    width: 90px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(to bottom, var(--bg-panel), 50%, #ffffff);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    padding-top: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.3s;
    box-shadow: 1px 110px 10px rgb(145, 145, 145);
}
.left_panel:hover {
    width: 255px;
}

.top_panel {
    width: calc(100% - 80px);
    height: 100px;
    top: 0;
    right: 0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background: var(--bg-top);
    z-index: 3;
    box-shadow: 1px 0px 10px rgb(145, 145, 145);
}
.top_panel p, .name_page {
    font-size: 30px;
    color: var(--color-main);
    text-align: center;
}
.top_panel p {
    position: fixed;
}

.name_page {
    position: absolute;
    left: 30px;
}

.name {
    margin-left: 16px;
    margin-top: 5px;
    font-size: 30px;
    color: #2C7DF6;
    text-align: center;
}

.nickname {
    font-size: 26px;
    color: var(--color-nickname);
    position: fixed;
    right: 75px;
    border: none;
    background: none;
}

.profile_info {
    /* z-index: 100; */
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 109px;
    background-color: var(--bg-profile);
    width: 300px;
    height: 500px;
    border: 1px solid var(--border-profile);
    border-radius: 20px;
}
.profile_ico {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 10px;
    left: 100px;
}
.nickname_profile {
    position: relative;
    font-size: 30px;
    color: var(--color-profile);
    text-align: center;
    margin-top: 10px;
    left: 13px;
}
.email_profile, .password_profile {
    position: relative;
    text-align: left;
    font-size: 24px;
    color: var(--color-profile);
    margin-top: 10px;
    margin: 10px;
}
.logout, body.dark .profile_info .logout {
    position: relative;
    top: 180px;
    left: 10px;
    background-color: var(--btn-main);
    color: rgb(0, 90, 226);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#logout:hover, body.dark .profile_info #logout:hover {
    background-color: var(--btn-hover);
}
body.dark .profile_info .logout {
    color: rgb(176, 230, 247);
}

body.dark .left_panel {
    background: var(--bg-panel);
    border-right: 1px solid var(--border-panel);
}
body.dark .menu_item {
    background-color: var(--bg-menu-item);
}
body.dark .menu_item a {
    color: var(--color-main);
}
body.dark .menu_item a:hover {
    color: var(--color-link);
}
body.dark .top_panel {
    background: var(--bg-top);
    border: var(--border-panel) 1px solid;
}
body.dark .content {
    background-color: var(--bg-main);
}
body.dark .name {
    color: var(--color-accent);
}
body.dark .name_page {
    color: #fff;
}
body.dark .profile_info {
    background-color: var(--bg-profile);
    border: 1px solid var(--border-profile);
}
body.dark .profile_info h1 {
    color: var(--color-profile);
}

body.dark .to-test input[type="text"], 
body.dark .to-test input[type="number"] {
    background: var(--bg-message);
    color: var(--color-main);
    border: 1px solid #444;
}
body.dark .to-test button {
    background: #007ACC;
    color: #fff;
}
body.dark .to-test button:hover,
body.dark .to-test button:focus {
    background: #005F99;
    color: #fff;
    outline: none;
}

body.dark .to-test button{
    background-color: #4a5bbd;
}



.top_panel {
    margin-left: 250px; /* ширина .left_panel */
    transition: margin 0.3s;
}
.top_panel.full {
    margin-left: 0;
}





.theme_change {
  margin-left: 18px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.theme_change input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}









