{% extends 'base.html' %}

{% block title %} Участь у тесті №{{ test.id }} {% endblock %}

{% block head %}
    <script>
        window.TEST_ID = "{{ test.id }}";
        window.FIRST_QID = "{{ first_qid }}";
        window.COUNT_QUESTIONS = "{{ countQuestions }}";
    </script>
    {% if current_user != " " %}
        <script> window.USERNAME = "{{ current_user }}" </script>
    {% endif %}

    <script defer src="{{ url_for('create.static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('test.static', filename='css/test.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('test.static', filename='css/test_host.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('test.static', filename='css/test_question.css') }}">
{% endblock %}

{% block content %}
<input type="hidden" id="linkToResult" value="{{ url_for('test.static', filename='css/test_result.css') }}">

<div class="test-container">


    <div class="main-layout">
        <div class="main-content">
            <div class="question-section">
                <div class="question-code">
                    Тест №{{ test.id }} – {{ test.title }}
                </div>
                <div id="currentQuestion" class="current-question"></div>
                <p id="questionText" class="question-text"></p>
                <div id="question-progress" class="question-progress"></div>
            </div>

            <form method="post" id="answer_form">
                <div id="answer-block" class="answer-block">
                    <div id="answer-options" class="answer-options"></div>
                </div>
                <button class="submit-btn" type="submit" id="sendButton">відправити</button>
                <button class="submit-btn hidden" id="loadingButton" type="button" disabled>Очікування наступного питання...</button>
            </form>
        </div>
    </div>

    <div class="result-container hidden">
        <h2>Результати тесту: <span id="testName"></span></h2>
        <p>Дата завершення: <span id="testDate"></span></p>
        <p>Час завершення: <span id="testTime"></span></p>
        <p>Вірних відповідей: <span id="correct"></span></p>
        <a href="{{ url_for('test.render_test', test_id=test.id) }}">Повернутися до тесту</a>
    </div>

    <div id="testWait">
        <p>Очікуйте на початок тесту...</p>
    </div>
    <div id="overlay-wait" class="hidden">
        <div class="overlay-message">Очікуйте наступного питання...</div>
    </div>

    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="{{ url_for('test.static', filename='js/test_user.js') }}"></script>
</div>
{% endblock %}
