{% extends 'base.html' %}

{% block title %} Сторінка тесту {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('test.static', filename='css/test.css') }}">
{% endblock %}

{% block content %}
    <div class="test-block">
        <div class="test-about">
            <h1 class="test-title">{{ test.name }}</h1>
            <div class="info-block">
                <h2>Опис тесту</h2>
                <div class="info">
                    <h3>{{ test.description }}</h3>
                </div>
            </div>
            <div class="info-block">
                <h2>O тесті</h2>
                <div class="info">
                    <h3>Автор: {{ name }}</h3>
                    <h3>Предмет: {{ test.subject }}</h3>
                    <h3>Клас: {{ test.class_name }}</h3>
                    <h3>Створено: {{ date }}</h3>
                    <h3>Кількість питань: {{ total_questions }}</h3>
                    <!-- <h3>Час створення: {{ time_of_creation }}</h3> -->
                </div>
            </div>
        </div>
        <div class="test-choose">
            {% set first_qid = test.questions.split()[0] %}
            <button class="modal-btn picture1" onclick="showSimpleModal('пройти тест самостійно', `<a class='start-btn' href='{{ url_for('test.test_question', test_id=test.id, question_id=first_qid) }}'>Почати тест</a>`)">
                <object data="{{ url_for('test.static', filename='images/single.svg') }}" type="image/svg+xml" class="svgToWhite"></object>
                пройти тест самостійно</button>
            <button class="modal-btn picture2" onclick="showSimpleModal('створити хост', `<a class='start-btn-host' id='start-btn-host' href='{{ url_for('test.render_test_host', test_id=test.id) }}'>Почати тест</a>`)">
                <object data="{{ url_for('test.static', filename='images/multi_user.svg') }}" type="image/svg+xml" class="svgToWhite"></object>
                створити хост</button>
            <!-- <button class="modal-btn picture3" onclick="showSimpleModal('Модалка 3', 'Контент модалки 3')">Модалка 3</button>
            <button class="modal-btn picture4" onclick="showSimpleModal('Модалка 4', 'Контент модалки 4')">Модалка 4</button> -->
        </div>
    </div>

<script src="{{ url_for('test.static', filename='js/test_question.js') }}"></script>
{% endblock %}