{% extends 'base.html' %}

{% block title %} Main page {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('main.static', filename='main.css') }}">
{% endblock %}


{% block content %} 

    <div class="content">
        <div class="block1">
            <div class="block_img1"></div>
            <div class="block_name">Name test</div>
            <div class="subject_block">Sub: something</div>
            <div class="block_nick">Smt_creator</div>
        </div>
        
        <div class="block2">
            <div class="block_img2"></div>
            <div class="block_name">Name test</div>
            <div class="subject_block">Sub: something</div>
            <div class="block_nick">Smt_creator</div>
        </div>

{% endblock %}