{% extends 'base.html' %}

{% block title %} Main page {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/main.css') }}">
{% endblock %}


{% block content %} 
    <div class="description">
        <h1>Ласкаво просимо у Knovex</h1>
        <p>Knovex — це освітня платформа для школярів, студентів та всіх охочих навчатися. Тут ви знайдете уроки, тести, модулі та систему прогресу, щоб зробити навчання простим і ефективним. Обирайте предмет, проходьте тести, вдосконалюйте знання та слідкуйте за своїми досягненнями!</p>
    </div>
    <div class="login">
        <p>Бажаете почати?</p>
        <a href="/user" class="to_login">login</a>
    </div>
    <div class="container_tests">
        <div class="container_test">

        </div>

        <div class="container_test">

        </div>

        <div class="container_test">

        </div>

        <div class="container_test">
        
        </div>

        <div class="container_test">

        </div>

        <div class="container_test">
        
        </div>

        <div class="container_test">

        </div>
        
        <div class="container_test">
            
        </div>
    </div>





{% endblock %}