{% extends 'base.html' %}

{% block title %}Створити тест{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('create.static', filename='css/create.css') }}">
{% endblock %}

{% block content %}
<div class="create_container">
    <div class="header_flex">
        <h1 class="page_title">Create test</h1>
        <button id="open_settings">Налаштування тесту</button>
    </div>
    
    <div class="create_content">
        <div class="list_container">
            <div class="list_header">
                <h2>Список питань</h2>
                <button id="add_question">Додати питання</button>
                <button id="delete_question">Видалити питання</button>
            </div>
            <div class="list_questions"></div>
        </div>
        <div class="container_create_form">
            <form class="question_form" id="questionForm">
                <h3>Питання:</h3>
                <input type="text" id="question" placeholder="Напишіть питання" name="text"><br><br>
                <label>Правильна відповідь:</label><br>
                <input type="text" id="correctAnswer" placeholder="Напишіть правильну відповідь" name="correct_answer"><br><br>
                <label>Варіанти відповідей:</label><br>
                <div id="options"></div>
                <button id="add" type="button">Додати варіант</button><br><br>
            </form>
            <form class="save-test" id="save-form">
                <button type="submit" id="save">Зберегти тест</button>
            </form>
            <div id="settings_modal" class="modal">
                <form id="settings_form">
                    <h3>Налаштування тесту</h3>
                    <label>Назва тесту:</label>
                    <input type="text" id="test_name" name="name" placeholder="Введіть назву тесту">
                    <div class="file-row">
                        <label for="image">Фото тесту:</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <label for="description">Опис тесту:</label>
                    <textarea id="description" name="description" placeholder="Введіть опис тесту"></textarea>
                    <label>Предмет:</label>
                    <input type="text" id="subject" name="subject" placeholder="Введіть предмет">
                    <label>Клас:</label>
                    <input type="text" id="class_name" name="class_name" placeholder="Введіть клас">
                    <div class="button-row">
                        <button type="submit">Зберегти</button>
                        <button type="button" id="close_settings">← Назад до питань</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script defer src="{{ url_for('create.static', filename='js/jquery.js') }}"></script>
<script defer src="{{ url_for('create.static', filename='js/create.js') }}"></script>
{% endblock %}