{% extends 'base.html' %}

{% block title %} create page {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('create.static', filename='css/create.css') }}">
{% endblock %}

{% block content %} 
<div class="create_container">
    <h1 class="page_title">Створити тест</h1>
    <div class="create_content">
        <div class="list_container">
            <div class="list_header">
                <h2>Список тестів</h2>
                <button id="add_question">Add question</button>
                <button id="delete_question">Delete question</button>
            </div>
            <div class="list_questions">
                
            </div>
        </div>
        <div class="container_create_form">
            <form class="question_form" id="questionForm">
                <h3>Питання:</h3>
                <input type="text" id="question" placeholder="Напишіть питання" name="text"><br><br>
                <label>Правильна відповідь:</label><br>
                <input type="text" id="correctAnswer" placeholder="Напишіть правильну відповідь" name="correct_answer"><br><br>
                <label>Варіанти відповідей:</label><br>
                <div id="options">

                </div>
                <button id="add">Додати варіант</button><br><br>
            </form>
            <form class="save-test" id="save-form">
                <button id="save">Зберегти Тест</button>
            </form>
        </div>
    </div>
</div>
<script defer src="{{ url_for('create.static', filename = '/js/jquery.js') }}"></script>
<script defer src="{{ url_for('create.static', filename = '/js/create.js') }}"></script>
{% endblock %}