:root {
    --bg-user-page: #ACDDFF;
    --bg-input: #fff;
    --bg-button: #007BFF;
    --bg-button-hover: #005bbd88;
    --bg-reglog-select: #FC5B46;
    --bg-line: #000000;
    --color-main: #000000;
    --color-accent: #FC5B46;
    --color-button: #fff;
    --color-button-alt: #000000;
    --color-placeholder: #888;
}

body.dark {
    --bg-user-page: #024b80;
    --bg-input: #181f2a;
    --bg-button: #056ad6;
    --bg-button-hover: #416bdfea;
    --bg-reglog-select: #b93321;
    --bg-line: #ffffff;
    --color-main: #dbeafe;
    --color-accent: #b93321;
    --color-button: #dbeafe;
    --color-button-alt: #fff;
    --color-placeholder: #aaa;
}

.messages {
    position: fixed;
    top: 115px;
    right: 10px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px; 
    z-index: 1000;
}

.message {
    background-color: var(--bg-input);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.message.show {
    opacity: 1;
    transform: translateY(0);
}

.message.hide {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.user_page {
    background-color: var(--bg-user-page);
    width: 750px;
    height: 620px;
    position: fixed;
    margin-top: 60px;
    border-radius: 10px;
    padding: 10px;
}

.form {
    padding: 20px;
    width: 750px;
    height: 620px;
    margin-top: 60px;
    z-index: 1; 
}

.name_knowex {
    position: relative;
    font-size: 48px;
    color: var(--color-main);
    margin-bottom: 20px;
    text-align: center;
}

.container {
    position: absolute;
    width: 750px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 1px;
    z-index: 1;
    pointer-events: none;
}

.input {
    display: flex;
    align-items: center;
    pointer-events: all;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 15px; 
    width: 100%;
    height: 40px;
    overflow: visible;
}

.input img {
    position: relative;
    top: 34px;
    left: 35px;
    width: 20px; 
    height: 20px; 
    z-index: 2;
}

.input input {
    width: 50%; 
    height: 40px; 
    padding: 10px; 
    padding-left: 30px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background: var(--bg-input);
    color: var(--color-main);
}

.input input::placeholder {
    color: var(--color-placeholder);
}

.profile_photo_bt {
    width: 45px; 
    height: 45px;  
    position: fixed;
    background-image: url("../images/profile.png");
    background-size: cover;
    background-position: center;
}

.reg_log {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    margin-top: 20px; 
    z-index: 5;
}

button {
    pointer-events: all;
    cursor: pointer;
}

button.log, button.reg {
    background: none; 
    border: none; 
    color: var(--color-main); 
    font-size: 32px; 
    font-family: inherit; 
    cursor: pointer; 
    padding: 0; 
    text-decoration: none;
}

button.log:hover, button.reg:hover { 
    color: var(--bg-button-hover); 
    pointer-events: all;
}

.line_reg, .line_log {
    position: relative;
    width: 200px;
    height: 50px;
    border-bottom: 3px solid var(--bg-line);
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    position: relative;
    width: 200px;
    height: 50px;
    border-bottom: 3px solid var(--bg-reglog-select);
    display: flex;
    align-items: center;
    justify-content: center;
}

.select button {
    color: var(--bg-reglog-select);
}

.log_nickname,
.log_password,
.reg_nickname,
.reg_password,
.reg_confirm_password,
.reg_email {
    position: relative;
    width: 80%; 
    height: 40px; 
    margin-bottom: 15px; 
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    top: 40px;
    background: var(--bg-input);
    color: var(--color-main);
}

.reg_save, .log_save {
    position: relative;
    width: 60%; 
    height: 45px; 
    margin-top: 20px; 
    background-color: var(--bg-button); 
    color: var(--color-button); 
    font-size: 18px; 
    font-family: inherit; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    top: 40px;
}

.reg_save:hover, .log_save:hover {
    background-color: var(--bg-button-hover);
}

body.dark #message {
    color: #dbeafe;
    background-color: #005F99;
}

body.dark .user_page {
    background-color: var(--bg-user-page);
}

body.dark .name_knowex {
    color: var(--color-main);
}

body.dark .reg_save, body.dark .log_save {
    background-color: var(--bg-button);
    color: var(--color-button);
}

body.dark .input input {
    background: var(--bg-input);
    color: var(--color-main);
    border: 1px solid #081933; 
}

body.dark button.log, body.dark button.reg {
    color: var(--color-main);
}

body.dark .line_reg, body.dark .line_log {
    border-bottom: 3px solid var(--bg-line);
}

body.dark .select {
    border-bottom: 3px solid var(--bg-reglog-select);
}

body.dark .select button {
    color: var(--bg-reglog-select);
}

body.dark .select button:hover {
    color: var(--bg-reglog-select);
}

body.dark button.log:hover, body.dark button.reg:hover { 
    color: var(--bg-button-hover); 
}