{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('user.static', filename='css/profile.css') }}">
{% endblock %}

{% block content %} 
<div class="top_container">
    <img src="{{ url_for('user.static', filename='images/user_photo.png') }}" alt="">
    <div>
        <h1 class="name_user">{{ nickname }}</h1> 
    </div>
</div>

<div class="profile_page">
    <div class="user_info">
        <h1 class="password">password: <span>{{ password }}</span></h1>
        <button id="hide" value=""></button>
    </div>
    <div class="user_info">
        <h1 class="email">E-mail: <span>{{ email }}</span></h1>
        <button id="hide"></button>
    </div>
    <div class="user_info">
        <button id="change_password">change_password</button>
    </div>
    <!-- <div class="user_info">
        <h1>Двохфаторна індефікація</h1>
    </div> -->
    <!-- <button class="exit">Exit account</button> -->
</div>

<script defer src="{{ url_for('user.static', filename = '/js/profile.js') }}"></script>

{% endblock %}