{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('user.static', filename='css/user.css') }}">
{% endblock %}

{% block content %} 
<div class="user_page">
    <a href="/profile" class="profile_photo_bt"></a>
    <h1 class="name_knowex">Knowex</h1>
    <div class = reg_log>
        <div class ="line_log select">
            <button value="log" class="log" id="logBtn">Login</button>
        </div> 
        <div class ="line_reg">
            <button value="reg" class="reg" id="regBtn">Register</button>
        </div>
    </div>
    <form method="post" class="form" id="auth">
        <div class="container">
            <div class="input">
                <img src="{{ url_for('user.static', filename='images/name_img.png') }}" alt="">
                <input type="text" name="nickname" placeholder="nickname" class="log_nickname">
            </div>
            <div class="input">
                <img src="{{ url_for('user.static', filename='images/password_img.png') }}" alt="">
                <input type="password" name="password" placeholder="password" class="log_password">
            </div>
            <button name="auth" value="1" class="log_save">Save</button>
        </div>
    </form>
    
    <form method="post" class="form" id="reg" hidden>
        <div class="container">
            <div class = "input">
                <img src="{{ url_for('user.static', filename='images/name_img.png') }}" alt="">
                <input type="text" name="nickname" id="nickname" placeholder="nickname" class="reg_nickname">
            </div>
            <div class = "input">
                <img src="{{ url_for('user.static', filename='images/password_img.png') }}" alt="">
                <input type="email" name="email" id="email" placeholder="email" class="reg_email">
            </div>
            <div class = "input">
                <img src="{{ url_for('user.static', filename='images/password_img.png') }}" alt="">
                <input type="password" name="password" id="password" placeholder="password" class="reg_password">
            </div>
            <div class = "input">
                <img src="{{ url_for('user.static', filename='images/name_img.png') }}" alt="">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm_password" class="reg_confirm_password">
            </div>    
            <button class="reg_save">Save</button>
        </div>
    </form>
</div>

<script defer src="{{ url_for('user.static', filename = '/js/script.js') }}"></script>

{% endblock %}