body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.test-block {
    height: 720px;
    width: 1500px;
    padding: 20px;
    background-color: #E0F4FE;
    gap: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body.dark .test-block{
    background-color: #333;

}
.test-about {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

body.dark .test-about{
    background-color: #555;
}
.test-title {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

.info-block {
    width: 440px;
    height: 300px;
    background-color: #D2F0FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px;
}
body.dark .info-block{
    background-color: #6e6e6e;

}
.info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.info h3{
    font-size: 24px;
    margin-top: -10px;
}

.test-choose {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    width: 200px;
    height: 220px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    background-color: white;
    font-size: large;
}
body.dark .modal-btn{
    background-color: #555;
    color: white;

}
#simple-modal-window{
    background:#fff; 
    padding:30px; 
    border-radius:10px; 
    min-width:300px; 
    max-width:90vw; 
    position:relative; 
    box-shadow:0 8px 30px rgba(0,0,0,0.2);
    color: white;
    text-align: center;
}
#simple-modal-window h3{
    align-self: center; 

}
#simple-modal-window div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.start-btn-host,.start-btn{
    color: black;
    align-self: center;
    /* text-decoration: none;
    margin-left: auto;
    margin-right: auto; */
}
body.dark #simple-modal-window{
    background-color: #555;
}
body.dark .start-btn-host, body.dark .start-btn{
    color: white;
}
.svgToWhite {
    width: 150px;
    height: 150px;
    pointer-events: none; /* allows click to pass to button */
}
.picture1{
    background-image: url('../../static/images/single.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture2{
    background-image: url('../../static/images/multi_user.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture3{
    background-image: url('../../static/images/multi_user_blitz.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture4{
    background-image: url('../../static/images/homework.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}